@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h3 class="text-danger">There was an error in authenticating you with Power BI and created the dataset.</h3>

<h3>Please check the following:</h3>
<ol>
    <li>The dataset "LogicAppsHealth" does not already exist in Power BI (delete it if it does)</li>
    <li>You are using credentials for an account that already has access to Power BI</li>
</ol>
<br />
<p>If you continue to have problems, feel free to reach out to me on Twitter: <a href="http://twitter.com/jeffhollan">@@jeffhollan</a></p>

