@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Microsoft Health Dataset Helper</h2>
<div>
    <p>To create the dataset needed for the Microsoft Health to Power BI Logic App sample, click here.  It will authenticate you against Power BI, do a call to create a dataset with <a href="https://raw.githubusercontent.com/jeffhollan/MSHealthAPI/master/Power%20BI%20Dataset%20Schema.json">this</a> schema.</p>
    <br/>
    <a class="button" href="/home/startauth">Create Dataset in Power BI</a>
    <br />
    <br/>
</div>